<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form
        #form="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup"
        >
          <!-- Note 1: Using ngModelGroup we can define a group of controllers, and
                verify weather this group is valid -->
          <!-- Note 2: #userData, see that is the same name as the ngModelGroup
                we use #userData to use this subform inside the HTML to add CSS to this validation -->
          <div class="form-group">
            <label for="username">Username</label>
            <input
              class="form-control"
              type="text"
              id="username"
              name="username"
              ngModel
              required>
            <!-- No binding, to tell angular this input is a control -->
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()"
          >Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              name="email"
              ngModel
              required
              email
              #email="ngModel">
            <span *ngIf="email.invalid && email.touched" class="help-block">Please enter a valid value email!</span>
          </div>
          <p *ngIf="!userData.valid && userData.touched">User data is not valid</p>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            name="secret"
            [ngModel]="defaultQuestion"
          >
            <!-- One way binding, to give this controller the default value-->
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionAnswer"
            rows="3"
            class="form-control"
            [(ngModel)]="answer"
          ></textarea>
          <!-- Two way binding, to do whatever I want to do with the value -->
          <p>Your reply: {{answer}}</p>
          <div *ngFor="let gender of genders" class="radio">
            <label>
              <input
                type="radio"
                name="gender"
                ngModel
                required
                [value]="gender"
              >
              {{gender}}
            </label>
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="form.invalid"
        >Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data:</h3>
      <p>Username: {{ user.username }}</p>
      <p>E-mail: {{user.email}}</p>
      <p>Secret Question: {{user.secretQuestion}}</p>
      <p>Answer: {{user.answer}}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>
